@import "src/scss/vars.scss";

.error {
  margin: 0 auto;
  background-color: $whiteColor;
  padding: 20px 40px;
  border: 1px solid $redColor;
  border-radius: 20px;
  max-width: 500px;
  text-align: center;
}

.error__status,
.error__message {
  font-size: 16px;
  line-height: 20px;
  color: $redColor;
}

.error__status {
  margin-right: 10px;
}
