@import "src/scss/vars.scss";

.gameDetails__infoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $lightGrayColor;
  border-radius: 15px;
  padding: 20px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 16px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.gameDetails__infoHeader {
  text-align: center;
}

.gameDetails__infoText {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
